nav.menubar {
  display: block;
}

.menubar nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menubar li {
  display: inline-block;
  border: 1px solid #ccc;
}

.menubar a {
  display: block;
  padding: 1rem;
  color: #0096ff;
  text-decoration: none;
}

.menubar a.active {
  text-decoration: underline;
  color: #fff;
  background-color: #0096ff;
}